@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import 'variaveis-e-mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    background-image: url('../imagens/background-header.png');
    background-size: cover;  
    background-repeat: no-repeat;
    @include device(1000px) {
        padding: 0 30px;
    }
}

.header {
    @include container;
    justify-content: space-between;
    align-items: center;
    p:first-child {
        @include titulo(2, $rosa);
    } p:last-child {
        @include texto-simples(1, $branco);
    }
    @include device(1000px) {
        margin: 0 30px;
        padding-top: 30px;
    }
}

nav {
    ul {
        display: flex;
        li {
            display: inline-block;
            margin-left: 25px;
            border: 2px solid transparent;
            padding-bottom: 2px;
            transition: .5s ease-in-out;
            &:hover {
                border-bottom: 2px solid $rosa;
            }   
        } a {
            @include texto-simples(1, $branco);
        } 
    }
}

.intro {
    @include container;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    img {
        max-width: 40%;
        height: auto;
        margin: 0 auto;
        @include device(750px) {
            max-width: 60%;
        }
    }
    h1 {
        @include titulo(3, $branco);
        font-weight: normal;
        margin-bottom: 20px;
    }
    p {
        @include texto-simples(0.95, $branco);
        margin-bottom: 40px;
    }
    a {
        @include titulo(1, $cinza-escuro);
        padding: 10px 40px;
        background-color: $rosa;
        border-radius: 30px;
        font-weight: bold;
        transition: all .5s ease-in-out;
        display: inline-block;
        @include device(750px) {
            margin-bottom: 30px;
        }
        &:hover {
            transform: scale(1.2); 
        }
    }
    @include device(750px) {
        flex-direction: column;
        text-align: center;
    }
} 

// about

.about {
    background-color: $branco;
    padding: 100px 0;
    @include device(1000px) {
        padding: 30px;
    }
    & > div {
        @include container;
        align-items: center;
        justify-content: space-between;
        @include device(750px) {
            flex-direction:column-reverse;
        }
        img {
            max-width: 55%;
            @include device(750px) {
                max-width: 80%;
            }
        }
        .text-about {
            max-width: 40%;
            @include device(750px) {
                max-width: 80%;
            }
        }
    } h2 {
        @include titulo(2, $cinza-escuro);
        margin-bottom: 20px;
        font-weight: normal;
        @include device(750px) {
            text-align: center;
        }
    } p {
        @include texto-simples(0.95, $cinza-escuro);
    } 
} 

// Main 

main {
    background-color: $cinza-claro;
    padding: 50px 0;
    text-align: center;
    h2 {
        @include titulo(2, $cinza-escuro);
        font-weight: normal;
        margin-bottom: 50px;
    } > a {
        background: $rosa;
        padding: 15px 50px;
        border-radius: 30px;
        transition: all .5s ease-in-out;
        display: inline-block;
        color: $cinza-escuro;
        &:hover {
            transform: scale(1.2); 
        }
    }
}

.pets {
    @include container;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    img {
        width: 100%;
    }
    @include device(900px) {
        flex-direction: column;
    }
    @include device(1100px) {
        padding: 0 30px;
    }
    div {
        background-color: $branco;
        max-width: 30%;
        padding: 40px;
        @include titulo(1.15, $cinza-escuro);
        border-radius: 10px;
        transition: all .5s ease-in-out;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        p {
            margin: 20px 0;
        }
        @include device(900px) {
            max-width: 70%;
            margin-bottom: 30px;
        }
        a {
            border: 2px solid $rosa;
            padding: 10px 40px;
            border-radius: 30px;
            transition: all .5s ease-in-out;
            display: inline-block;
            color: $cinza-escuro;
            &:hover {
                border: none;
                background: $rosa;
                border: 2px solid transparent;
            }
        }
    }
}

// help

.help {
    background-color: $branco;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    h2 {
        @include titulo(2, $cinza-escuro);
        font-weight: normal;
        margin-bottom: 50px;
    }
    .help-container {
        @include container;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        @include titulo(1.15, $cinza-escuro);
        @include device(650px) {
            flex-wrap: wrap;
            padding: 0 10px;
            justify-content: center;
            margin-bottom: 20px;
        }
    } .help-container > div {
        @include device(650px) {
            margin: 10px;
        }
    } .empty {
        @include device(650px) {
            display: none;
        } 
    }
}

// donations

.donations {
   background-color: $cinza-claro;
   padding: 50px 0;
   > div {
    @include container;
    align-items: center;
    justify-content: space-between;
    @include device(820px) {
        flex-direction: column;
        justify-content: center;
       }
   } .text-donations {
    @include device(820px) {
        max-width: 70%;
        text-align: center;
    }
   }
   img {
    max-width: 60%;
    height: auto;
    @include device(820px) {
        max-width: 80%;
    }
   }
   h2 {
    @include titulo(2, $cinza-escuro);
    font-weight: normal;
    margin-bottom: 20px;
    @include device(820px) {
        text-align: center;
    }
   }
   p {
    @include titulo(1.15, $cinza-escuro);
   }
   p:last-child {
    @include texto-simples(0.85, $cinza-escuro);
    font-style: italic;
   }
   .credcard::before {
    content: url('../imagens/icon10.png'); 
    margin-right: 20px;
   }
   .credcard {
    margin: 20px 0;
    display: flex;
    align-items: center;
    background-color: $rosa;
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    @include device(820px) {
        margin: 20px auto;
        color: $cinza-escuro !important;
        text-decoration: none !important;
    }
   }
}

// footer

footer {
    background: url('../imagens/background-footer2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    align-items: center;
    > div {
    @include container;
    justify-content: space-between;
    align-items: center;
    @include device(1030px) {
        padding: 0 20px;
    }
    @include device(820px) {
        flex-direction: column
    }
        h2 {
            @include titulo(2, $branco);  
            font-weight: normal;
            margin-bottom: 20px;
            @include device(820px) {
                text-align: center;
            }          
        }
        p {
            @include titulo(1, $rosa); 
            margin-bottom: 20px;
            @include device(820px) {
                color: $rosa !important;;
                text-decoration: none !important;
            }
        }
        .address p, .contact p {
            display: flex;
            align-items: center;
        }
        .address p::before {
            content: url('../imagens/icon13.png');
            margin-right: 20px;
        }
        .contact p:nth-child(2)::before {
            content: url('../imagens/icon12.png');
            margin-right: 20px;
        }
        .contact p:nth-child(3)::before {
            content: url('../imagens/icon11.png');
            margin-right: 20px;
        }
    }
    img {
        max-width: 35%;
        @include device(820px) {
            max-width: 50%
        }
    }
}

// hamburger

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $rosa;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $cinza-escuro;
        width: 50%;
        padding: 30px 20px;
        text-align: right;
        transition: all .7s ease-in-out;
            .nav-item, .nav-item:hover {
                border: none;
            }
    }

    .nav-menu.active {
        left: 50%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}