@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import 'variaveis-e-mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    background-image: url('../imagens/background-header.png');
    background-size: cover;  
    background-repeat: no-repeat;
    @include device(1000px) {
        padding: 0 30px;
    }
}

.header {
    @include container;
    justify-content: space-between;
    align-items: center;
    p:first-child {
        @include titulo(2, $rosa);
    } p:last-child {
        @include texto-simples(1, $branco);
    }
    @include device(1000px) {
        margin: 0 30px;
        padding-top: 30px;
    }
}

nav {
    ul {
        display: flex;
        li {
            display: inline-block;
            margin-left: 25px;
            border: 2px solid transparent;
            padding-bottom: 2px;
            transition: .5s ease-in-out;
            &:hover {
                border-bottom: 2px solid $rosa;
            }   
        } a {
            @include texto-simples(1, $branco);
        } 
    }
}

.intro {
    display: flex;
    @include container;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    img {
        max-width: 40%;
        height: auto;
        margin: 0 auto;
        @include device(750px) {
            max-width: 60%;
        }
    }
    h1 {
        @include titulo(3, $branco);
        font-weight: normal;
        margin-bottom: 20px;
    }
    p {
        @include texto-simples(0.95, $branco);
        margin-bottom: 40px;
    }
    a {
        @include titulo(1, $cinza-escuro);
        padding: 10px 40px;
        background-color: $rosa;
        border-radius: 30px;
        font-weight: bold;
        transition: all .5s ease-in-out;
        display: inline-block;
        @include device(750px) {
            margin-bottom: 30px;
        }
        &:hover {
            transform: scale(1.2); 
        }
    }
    @include device(750px) {
        flex-direction: column;
        text-align: center;
    }
} 

// about

.about {
    background-color: $branco;
    padding: 100px 0;
    @include device(1000px) {
        padding: 30px;
    }
    & > div {
        @include container;
        align-items: center;
        justify-content: space-between;
        @include device(750px) {
            flex-direction:column-reverse;
        }
        img {
            max-width: 55%;
            @include device(750px) {
                max-width: 80%;
            }
        }
        .text-about {
            max-width: 40%;
            @include device(750px) {
                max-width: 80%;
            }
        }
    } h2 {
        @include titulo(2, $cinza-escuro);
        margin-bottom: 20px;
        font-weight: normal;
        @include device(750px) {
            text-align: center;
        }
    } p {
        @include texto-simples(0.95, $cinza-escuro);
    } 
} 